<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".SearchApp"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aflami">
        <activity
            android:name="com.feature.search.searchUi.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Aflami">
        </activity>
    </application>

</manifest>