<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".AppNavigation"
            android:exported="false"
            android:label="@string/title_activity_app_navigation"
            android:theme="@style/Theme.Aflami" />
    </application>

</manifest>